.top-new {
    position: relative;
    width: 100% !important;
    display: block;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    background-image: url("https://img4.thuthuatphanmem.vn/uploads/2020/12/26/hinh-nen-nui-phu-si-nhat-ban_125916095.jpg");
  }
  .content-new{
    height: 400px;
  }